img {
  max-height: 150px;
  object-fit: contain;
  padding: 10px;
}

button:hover {
  border-color: #d99e51;
}

.my-card {
  background-color: #dddddd;
}

.my-tab {
  margin: 0;
}

.my-tab .my-basic-label {
  width: 130px;
  padding: 10px;
}

.my-tab .my-label {
  width: 210px;
  padding: 10px;
}

.my-tab .my-content {
  padding: 10px;
}

.card {
  border-radius: 0;
}

@media (min-width: 768px) {  
  button:hover {
    border-color: #0154be;
  }
}
